*{
    margin: 0px;
    padding: 0%;
}

body{
     background:red;
    font-family: Arial, Helvetica, sans-serif ;
}

#container{
    /* width: 70%;*/
     width: 1100px;
     margin: 0px auto;
     border: 1px solid black;


}

header{
     background: darkgray;
     height: 100px;
     width: 100%;
     text-align: center;
     line-height: 100px;
     color: white;
     border-bottom: 3px dashed black;



}

nav{
     background:whitesmoke;
     height: 50px;
     border-bottom: 1px solid black;


}




nav ul li{
     float: left;
     list-style: none;
     margin: 10px;
     line-height: 30px;


}
.clearfix{
     clear: both;

}
#content{
     float: left;
     width: calc(80% - 80px);
     min-height: 500px;
     background: paleturquoise;
     padding: 40px;

}

.artivle{
     color: white;
     margin-top: 15px;
     margin-bottom: 15px;
     border-bottom: 1px solid #eee;
     padding-bottom:10px ;


}

.article h2{
     font-size: 25px;
    
}

.aricle:first-child{
    -moz-border-top: 1px solid #eee;
    padding-top: 10px;

}
aside{
     float: left;
     width:calc(20% - 20px) ;
     min-height: 500px;
     background: red;
     padding-left: 10px;
     padding-right: 10px;
     padding-top: 20px;

  
}

footer{
     background:white;
     color:black;
     text-align: center;
     height: 50px;
     line-height: 50px;


}


